<mt:setvarblock name="js_include" append="1">
<mt:if name="mt_version_id" like="^7">
<script type="text/javascript" src="<mt:var name="static_uri">plugins/ExtendTinyMCE/extension_mt7.js?v1.1.1"></script>
<mt:else>
<script type="text/javascript" src="<mt:var name="static_uri">plugins/ExtendTinyMCE/extension.js?v1.1.1"></script>
</mt:if>
</mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
<mt:if name="mt_version_id" like="^7">
<style>
.mce-ico.mce-i-template {
 background: transparent url('<mt:var name="static_uri">images/icons/ic_template.svg') no-repeat center/16px;
 overflow: hidden;
 text-indent: 100%;
 white-space: nowrap;
}
</style>
<mt:else>
<link rel="stylesheet" href="<mt:var name="static_uri">plugins/ExtendTinyMCE/skin/ui.css?v1.1.1" type="text/css" />
</mt:if>
</mt:setvarblock>
